
.task-details-box {
    background-color: #f8d7e1;  
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px; 
  }
  
  .task-details-box h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .task-details-box p {
    font-size: 1rem;
    line-height: 1.6;
  }
  